body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

#availableShips, #fleet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.ship-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#fleet .ship-box {
  background-color: #e6f7ff;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;  /* This will ensure it's hidden initially */
  overflow: hidden;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

