/* Style for the grid layout */
.ship-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

/* Style for the ship item */
.ship-item {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Style for each ship detail */
.ship-item p {
    display:block;
    margin: 0;
    padding: 2px 0;
}
