/* Style for dark mode */
body.dark-mode {
    background-color: #181818;
    color: #ffffff;
}

/* Style for the grid layout */
.ship-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

/* Style for the ship item */
.ship-item {
    border: 1px solid #555;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
}

/* Style for each ship detail */
.ship-item p {
    color: #ffffff;
    display:block;
    margin: 0;
    padding: 2px 0;
}

/* Style for the fleet item (same as ship-item) */
.fleet-item {
    border: 1px solid #555;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
}

/* Style for each fleet detail paragraph (same as ship-item p) */
.fleet-item p {
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 2px 0;
}